body {
    background-color: grey;
}

h1 {
    font-size: 70px;
}
h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

h1, h2, h3 {
    color: #F1F0E9;
}

p, li {
    color: #B9B28A;
}



header, nav, article, section, footer  {
    text-align: center;
}
img{
    height: 400px;
    width: 400px;
}

